@import "node_modules/bootstrap/scss/bootstrap";
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

html, body {
    font-family: 'Inter';
}